{% extends 'mainmenu/base.html' %}
{% block title %}Android Игры{% endblock %}


{% block navMain %}
    <a class="nav-link" href="/">Главная</a>
{% endblock %}

{% block navGames %}
<a class="nav-link active" aria-current="page" href="/">Все о Играх</a>
{% endblock %}

{% block navProgramming %}
<a class="nav-link" href="/about_programming">Все о Програмировании</a>
{% endblock %}

{% block navMyWork %}
<a class="nav-link" href="/my_work">Мои наработки</a>
{% endblock %}

{% block content %}
Андроид
{% endblock %}