{% load static %}

.box_main {
    padding: 150px 150px 20% 150px;);
    };

.box_body {
    border: 5px solid darkblue;
    padding: 2%;
    };

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    };
