{% extends 'mainmenu/base.html' %}

{% block title %}Новости на сайте{% endblock %}

{% block css_additor %}
{% endblock %}

{% block navMain %}
    <a class="nav-link active" href="/">Главная</a>
{% endblock %}

{% block navGames %}
<a class="nav-link" aria-current="page" href="/about_games">Все о Играх</a>
{% endblock %}

{% block navProgramming %}
<a class="nav-link" href="/about_programming">Все о Програмировании</a>
{% endblock %}

{% block navMyWork %}
<a class="nav-link" href="/my_work">Мои наработки</a>
{% endblock %}

{% block content %}
<main>
    <h1 class="display-1 text-center">Добро в новосную ленту</h1>
    <div class="row">
        <div class="col-9 foncont">
            <div class="div_conten">
                {% for el in news %}
                    <div class="alert alert-warning">
                        <h5 class="mt-0">{{ el.title }}</h5>
                        <p>
                            {{ el.anons }}<br>
                        </p>
                        <a href="{% url 'news-detail' el.id %}">Детально</a>
                    </div>
                <br>
                {% endfor %}
            </div>
        </div>
        <div class="col-1 foncont">
            <div class="d-flex" style="height: 100%; border-left: 20px solid green;">
                <div class="vr"></div>
            </div>
        </div>
        <div class="col-2 foncont">
            <div class="div_conten"><a href="{% url 'create'%}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Добавить запись</button></a> </div>

        </div>
    </div>
</main>
{% endblock %}