{% extends 'mainmenu/base.html' %}



{% block title %}Все о играх{% endblock %}


{% block navMain %}
    <a class="nav-link" href="/">Главная</a>
{% endblock %}

{% block navGames %}
<a class="nav-link active" aria-current="page" href="/about_games">Все о Играх</a>
{% endblock %}

{% block navProgramming %}
<a class="nav-link" href="/about_programming">Все о Програмировании</a>
{% endblock %}

{% block navMyWork %}
<a class="nav-link" href="/my_work">Мои наработки</a>
{% endblock %}

{% block navmenu_2 %}
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-info">
                <a class="nav-link active" href="/about_games">Shooter</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Race</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Zombie</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Action</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Stealth</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">RPG</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Horror</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Fighting</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Arcade</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Sport</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Strategy</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Survival</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Simulators</a>
            </button>
        </div>
    </div>
</li>
<li class="nav-item">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-success">
                <a class="nav-link active" href="/about_games">Adventure</a>
            </button>
        </div>
    </div>
</li>
{% endblock %}

{% block content %}

<main>
    <h1 class="display-1 text-center">Все о играх</h1>
    <p>Просто Текст</p>

</main>
{% endblock %}